.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.loading {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  translate: -50%;
  padding: 1em;
  background: var(--primary);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  font-weight: bold;
  box-shadow: var(--drop-shadow);
}

.toolbar {
  position: absolute;
  top: var(--spacing);
  left: var(--spacing);
  width: calc(100% - var(--spacing) * 2);
  grid-area: toolbar;
  z-index: 1;
  background-color: var(--muted-paper);
  box-shadow: var(--drop-shadow);
  backdrop-filter: var(--backdrop-filter);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  padding: var(--spacing);

  &Divider {
    width: 1px;
    height: 2em;
    background: var(--accent);
    margin: 0 var(--spacing);
  }

  &Info {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: image;
}

.timeline {
  position: absolute;
  position: absolute;
  bottom: var(--spacing);
  left: var(--spacing);
  z-index: 1;
  width: calc(100% - var(--spacing) * 2);
  overflow: hidden;
}

.toasts {
  position: absolute;
  bottom: var(--spacing);
  right: var(--spacing);
  z-index: 2;
}
