@import "@fontsource-variable/roboto/wght.css";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
  --spacing-sm: 4px;
  --spacing: 8px;
  --spacing-lg: 16px;

  --color-primary: light-dark(#ffac00, #e2ad00);
  --color-primary-text: light-dark(black, black);
  --color-text: light-dark(#111, white);
  --color-background: light-dark(#ececec, #111);
  --color-foreground: light-dark(white, #222222);
  --color-accent: light-dark(#cfcfcf, #2b2b2b);
  --color-error: light-dark(#ff7070, #871717);
  --shadow: 0 2px 5px rgba(0 0 0 / 0.2);

  accent-color: var(--color-primary);
}

html {
  font-size: 120%;
  background-color: var(--color-background);
}

body {
  margin: 0;
  font-family: "Roboto Variable", sans-serif;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 20px 20px;
  background-image: radial-gradient(
    circle,
    var(--color-accent) 1px,
    rgba(0, 0, 0, 0) 1px
  );
}

canvas {
  display: block;
}

button {
  font: inherit;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

input {
  font: inherit;
}

hr {
  border: none;
  border-top: hsl(from currentColor h s l / 0.2) 1px solid;
}

#app {
  display: contents;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--stack-spacing, var(--spacing-lg));
}

.prose > * + * {
  margin-block-start: var(--spacing);
}
