.container {
  --spacing: 1rem;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template:
    "toolbar" auto
    "image" 1fr
    "thumbnails" auto;
  padding: var(--spacing);
  gap: var(--spacing);
}

.image {
  position: relative;
  grid-area: image;
  border: 1px solid black;

  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    .container.hasUnionSkin & {
      filter: saturate(0);
    }
    .container.hasUnionSkin &.isCurrentFrame {
      opacity: 0.7;
    }
  }
}

.thumbnails {
  grid-area: thumbnails;
  overflow: hidden;
}

.toolbar {
  grid-area: toolbar;

  &Row {
    display: flex;
    align-items: center;
  }
}
