@import "@fontsource-variable/roboto/wght.css";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  color-scheme: light dark;
  --spacing-sm: 4px;
  --spacing: 8px;

  --color-primary: light-dark(orange, #ffc400);
  --color-text: light-dark(#111, white);
  --color-background: light-dark(white, #111);
  --color-accent: color-mix(
    in oklch,
    var(--color-background),
    var(--color-text) 10%
  );

  accent-color: var(--color-primary);
}

html {
  font-size: 120%;
}

body {
  margin: 0;
  font-family: "Roboto Variable", sans-serif;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100%;
  height: auto;
  display: block;
}

button {
  font: inherit;
}

input {
  font: inherit;
}

#app {
  display: contents;
}

.prose > * + * {
  margin-block-start: var(--spacing);
}
