@import "normalize.css";

*,
*:after,
*:before {
  box-sizing: border-box;
}

$c-paper: #222;
$c-muted-paper: rgba(lighten($c-paper, 8%), 0.9);
$c-ink: #fff;
$c-primary: #22ff52;

$c-lightmode-paper: #ccc;

:root {
  --paper: #{$c-paper};
  --muted-paper: #{$c-muted-paper};
  --ink: #{$c-ink};
  --muted-accent: #{darken($c-ink, 65%)};
  --accent: #{darken($c-ink, 30%)};
  --error: #9e0000;
  --spacing: 0.8em;
  --primary: #{$c-primary};
  --primary-dark: #{mix($c-primary, $c-paper, 10)};
  --border-width: 2px;
  --border: var(--border-width) solid var(--primary);
  --border-radius: 0.3em;
  --drop-shadow: 0 1px 20em #{rgba(black, 0.8)};
  --backdrop-filter: blur(0.3em);

  @media (prefers-color-scheme: light) {
    --paper: #{$c-lightmode-paper};
    --muted-paper: #{rgba(darken($c-lightmode-paper, 5%), 0.7)};
    --ink: #222;
    --muted-accent: #eee;
    --accent: #a7a7a7;
    --drop-shadow: 0 0.2em 1em #{rgba(black, 0.1)};
    --primary: #{darken($c-primary, 15%)};
  }
}

html {
  background-color: var(--paper);
  color: var(--ink);
  height: 100%;
  background-image: linear-gradient(var(--muted-paper) 1px, transparent 1px),
    linear-gradient(90deg, var(--muted-paper) 1px, transparent 1px);
  background-size: 1.5em 1.5em;
  background-position: center center;
  font-size: 120%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

hr {
  margin: var(--spacing) 0;
  display: block;
  border: none;
  border-top: var(--border);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

label {
  cursor: inherit;
}

button {
  border: none;
  color: currentColor;
  background: transparent;
  padding: 0;
  margin: 0;
}
